<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = 'http://www.w3.org/ns/widgets'
	xmlns:gap = 'http://phonegap.com/ns/1.0'
        id = "com.cerivan.rb"
        version = "0.1.4">
	
	<name>RestauBook</name>

	<description>
		Test contacts v1
	</description>

	<author href="http://www.cerivan.com" email="mail@cerivan.com">
		Cerivan
	</author>
    
	<icon src="img/icon.png" width="48" height="48"/>
    
	<preference name="permissions" value="none"/>

	<!-- to enable individual permissions use the following examples -->
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/file-transfer"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/device" />
	<!--<preference name="phonegap-version"     value="3.1.0" />-->
	

	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="load-url-timeout" value="30000" />

    
	<gap:splash src="img/splash.jpg" />
	<gap:splash gap:platform="winphone" src="img/splash.jpg" />
	<gap:plugin name="org.apache.cordova.core.console" /> 
	<gap:plugin name="org.apache.cordova.core.contacts" /> 
	<gap:plugin name="org.apache.cordova.core.device" /> 
	<gap:plugin name="org.apache.cordova.core.geolocation" />
	<gap:plugin name="org.apache.cordova.core.dialogs" /> 
	<gap:plugin name="org.apache.cordova.core.network-information" /> 
	<gap:plugin name="org.apache.cordova.core.vibration" />
	<gap:plugin name="org.apache.cordova.core.file" />
	<gap:plugin name="org.apache.cordova.core.file-transfer" />
	<gap:plugin name="com.simonmacdonald.telephonenumber" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect">
		<param name="APP_ID" value="1378180769129155" />
		<param name="APP_NAME" value="Restau-dev" />
	</gap:plugin>
	<gap:plugin name="com.phonegap.plugins.childbrowser" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />

	<access origin="*" subdomains="true" />


</widget>
